body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #FF5733;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #33C3FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
